{% extends "gnotty/base.html" %}

{% block extrahead %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/json2.js"></script>
<script src="{{ STATIC_URL }}js/socket.io.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/gnotty.js"></script>
<script>

$(function() {

    // Assign a dark colour to each nickname.
    var colors = {};
    var color = function(nickname) {
        if (!colors[nickname]) {
            var c = function() {
                return Math.ceil(Math.random() * 150);
            };
            colors[nickname] = 'rgb(' + c() + ',' + c() + ',' + c() + ')';
        }
        return colors[nickname];
    };

    // Main setup function called when nickname is entered.
    // Creates IRC client and sets up event handlers.
    var start = function(nickname) {

        client = new IRCClient({
            httpHost:     '{{ HTTP_HOST }}',
            httpPort:     '{{ HTTP_PORT }}',
            ircHost:      '{{ IRC_HOST }}',
            ircPort:      '{{ IRC_PORT }}',
            ircChannel:   '{{ IRC_CHANNEL }}',
            ircNickname:  nickname
        });

        // Once connected, show the 'leaves' button, user list,
        // and change the submit text to 'Send' for sending messages.
        client.onConnect = function() {
            $('#input').animate({width: '65%'}, function() {
                $('.hidden').slideDown(function() {
                    $('#submit').val('Send');
                }).removeClass('hidden');
            });
        };

        // Render the nickanmes list each time we receive it,
        // which is each time someone joins or leaves.
        client.onNicknames = function(nicknames) {
            nicknames = $.map(nicknames.sort(), function(nickname) {
                return {nickname: nickname, color: color(nickname)};
            });
            var data = {nicknames: nicknames};
            $('#nicknames').html($('#nicknames-template').tmpl(data));
        };

        // Add a timestamp to each message as we receive it, and
        // add it to the messages display. Also scroll the window.
        client.onMessage = function(data) {
            var d = new Date();
            var parts = [d.getHours(), d.getMinutes(), d.getSeconds()];
            data.time = $.map(parts, function(s) {
                return (String(s).length == 1 ? '0' : '') + s;
            }).join(':')
            data.color = color(data.nickname);
            $('#messages-template').tmpl(data).appendTo('#messages');
            window.scrollBy(0, 10000);
        };

    };

    // Main submit handler - if there are still hidden elements,
    // we haevn't connected yet, so the value submitted is the
    // initial nickname. Otherwise we've started, and the value
    // submitted is a message.
    $('.chat').submit(function() {
        var value = $('#input').val();
        if (value) {
            if ($('.hidden').length > 0) {
                start(value);
            } else {
                client.message(value);
            }
        }
        $('#input').val('').focus();
        return false;
    });

    // Leaves just reloads - this will trigger a disconnect for
    // the client.
    $('#leave').click(function() {
        location = location.href.split('?')[0];
    });

    // Don't show the main form until we're loaded, and focus it.
    $('#input').val('').focus();
    {% if request.GET.nickname %}
    start('{{ request.GET.nickname|escapejs }}');
    {% endif %}

});

</script>
{% endblock %}

{% block content %}
<script id="messages-template" type="text/x-jquery-tmpl">
    <tr><td>[${time}]</td><td style="color:${color};">${nickname}:</td><td class="message">${message}</td></td>
</script>
<script id="nicknames-template" type="text/x-jquery-tmpl">
    <ul class="nav nav-list">
    <li class="nav-header">Users</li>
    {% templatetag openvariable %}each nicknames{% templatetag closevariable %}
    <li class="nickname" style="color:${$value.color};">${$value.nickname}</li>
    {% templatetag openvariable %}/each{% templatetag closevariable %}
</script>

<div class="row nicknames-row hidden">
<div class="nicknames-wrap">
<div id="nicknames" class="span2 offset10 well"></div>
</div>
</div>

<div class="row">
<div class="span9"><table class="table table-striped table-condensed" id="messages"></table></div>
</div>
{% endblock %}
