<!doctype html>
<html lang="en">

<head>
<style>
table {border-spacing:0; margin:20px 0; width:100%;}
td {border-top:1px solid #ccc; padding:10px 20px 10px 10px; margin:0; vertical-align:top; white-space:nowrap;}
.wide {width:100%; white-space:normal;}
</style>
</head>

<body>

<form>
    <input type="text" name="q" placeholder="query" required value="{{ request.GET.q }}">
    <input type="submit" value="Search">
</form>

<table>
{% for message in messages %}
<tr>
    <td>{{ message.message_time|date:"DATE_FORMAT" }}</td>
    <td>{{ message.nickname }}</td>
    <td>{{ message.short_message }}</td>
    <td class="wide"><a href="{{ message.get_absolute_url }}?id={{ message.id }}">View conversation</a></td>
</tr>
{% empty %}
{% if request.GET.q %}
<p>No results for {{ request.GET.q }}</p>
{% endif %}
{% endfor %}
</table>

</body>
</html>
